<%- include('../components/Layout/Header.ejs'); %>
<div class="banner" style="background-image: url(images/banner-img-3.png)">
  <div class="banner__content">
    <div class="container">
      <div class="row g-3 justify-content-center">
        <div class="col-lg-10 text-center">
          <h2 class="mt-0 text--white">All Animals</h2>
          <!-- Breadcrumbs  -->
          <ul
            class="list list--row breadcrumbs justify-content-center"
            style="--gap: 2rem"
          >
            <li class="list--row__item breadcrumbs__item">
              <a href="index-2.html" class="t-link breadcrumbs__link text--white">
                Home
              </a>
            </li>
            <li class="list--row__item breadcrumbs__item">
              <a
                href="contact.html"
                class="t-link breadcrumbs__link text--white"
              >
                All Animals
              </a>
            </li>
          </ul>
          <!-- Breadcrumbs End -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner End -->


    <!-- Ticket  -->
<div class="section--sm section--top">
  <div class="container">
    <div class="row g-4">
      <div class="col-12">
        <div class="table-responsive--md">
          <table class="table custom--table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Ticket Details</th>
                <th>Date</th>
                <th>Total Fee</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="Name">
                    <strong>Robart Williams</strong>
                </td>
                <td data-label="Ticket Details">
                    Adult - 04  ,  Senior 02 , child 02 ueder 2 years
                </td>
                <td data-label="Date">
                    15 December 2021
                </td>
                <td data-label="Total Fee">
                    $140.00
                </td>
                <td data-label="Remove" class="text-center">
                    <a href="#" class="btn btn--sm btn--base"> Edit </a>
                  <a href="#" class="btn btn--sm btn--base"> Remove </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../components/Layout/ClientSection.ejs'); %>
<%- include('../components/Layout/NewsLetter.ejs'); %>
<%- include('../components/Layout/Footer.ejs'); %>
