<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en">
  
<!-- Mirrored from template.viserlab.com/viserlife/demo/ by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Sep 2023 06:58:10 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Viserlife - Zoo & Safari Park HTML Template</title>
    <!-- favicon -->
    <link
      rel="icon"
      href="/images/favicon.png"
      sizes="16x16"
      type="image/png"
    />
  <!-- bootstrap 5  -->
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
  <!-- fontawesome 5  -->
  <link rel="stylesheet" href="/css/lib/font-awesome.css" />
  <!-- lineawesome font -->
  <link rel="stylesheet" href="/css/lib/line-awesome.css" />
  <!-- slick slider css -->
  <link rel="stylesheet" href="/css/lib/slick.css" />
  <!-- Magnific Popup  -->
  <link rel="stylesheet" href="/css/lib/magnific-popup.css" />
   <!-- Odometer -->
   <link rel="stylesheet" href="/css/lib/odometer-theme-default.css">
  <!-- main css -->
  <link rel="stylesheet" href="/css/main.css">
</head>
  <body>

    <!-- preloader start -->
    <div class="preloader">
      <div class="preloader__loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- preloader end -->
    
    <!-- Back To Top -->
    <div class="back-to-top">
      <span class="back-top">
        <i class="las la-angle-double-up"></i>
      </span>
    </div>
    <!-- Back To Top End -->

    <!-- search Popup -->
    <div class="body-overlay" id="body-overlay"></div>
    <div class="search-popup" id="search-popup">
      <form action="#" class="search-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search....." />
        </div>
        <button type="submit" class="submit-btn xl-text">
          <i class="las la-search"></i>
        </button>
      </form>
    </div>
    <!--search Popup -->
    <!-- Header -->
<header class="header-fixed header--primary">
  <div class="container">
    <div class="row g-0 align-items-center">
      <div class="col-6 col-lg-2">
        <!-- Logo  -->
        <a href="index-2.html" class="logo">
          <img
            src="/images/logo.png"
            alt="viserhyip"
            class="img-fluid logo__is"
          />
        </a>
        <!-- Logo End -->
      </div>
      <div class="col-6 col-lg-10">
        <div class="nav-container">
          <!-- Navigation Toggler  -->
          <div class="d-flex justify-content-end align-items-center d-lg-none">
            <a
              href="#"
              class="primary-menu__link t-link search--toggler text-center text--white border-bottom-0"
            >
              <i class="las la-search"></i>
            </a>
            <button
              type="button"
              class="btn btn--sqr btn--base nav--toggle text--white"
            >
              <i class="las la-bars"></i>
            </button>
          </div>
          <!-- Navigation Toggler End -->

          <!-- Navigation  -->
          <nav class="navs">
            <!-- Primary Menu  -->
            <ul class="list primary-menu">
              <li class="primary-menu__list has-sub">
                <a href="#" class="primary-menu__link text-capitalize">
                  home
                </a>
                <ul class="primary-menu__sub">
                  <li class="primary-menu__sub-list">
                    <a
                      href="index-2.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                      >Home 1</a
                    >
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="home-2.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                      >Home 2</a
                    >
                  </li>
                </ul>
              </li>
              
              <li class="primary-menu__list has-sub">
                <a href="#" class="primary-menu__link text-capitalize">pages</a>
                <ul class="primary-menu__sub">
                  <li class="primary-menu__sub-list">
                    <a
                      href="about.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      About
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="member.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      Membership
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="animal.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      Animals
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="animal-details.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      Animal Details
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="event.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      Events
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="event-details.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      Event Details
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="event-ticket.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      Event ticket
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="cart.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      Cart
                    </a>
                  </li>
                </ul>
              </li>
              
              <li class="primary-menu__list has-sub">
                <a href="#" class="primary-menu__link text-capitalize">Service</a>
                <ul class="primary-menu__sub">
                  <li class="primary-menu__sub-list">
                    <a
                      href="service.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                      >Service</a
                    >
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="service-details.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                      >Service details</a
                    >
                  </li>
                </ul>
              </li>
              <li class="primary-menu__list has-sub">
                <a href="#" class="primary-menu__link text-capitalize">blog</a>
                <ul class="primary-menu__sub">
                  <li class="primary-menu__sub-list">
                    <a
                      href="blog.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                      >blog</a
                    >
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="classic-blog.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                      >Classic blog</a
                    >
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="blog-details.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                      >blog details</a
                    >
                  </li>
                </ul>
              </li>
              <li class="primary-menu__list">
                <a
                  href="contact.html"
                  class="primary-menu__link text-capitalize"
                  >Contact</a
                >
              </li>
              <li class="primary-menu__list has-sub">
                <a href="#" class="primary-menu__link text-capitalize">others</a>
                <ul class="primary-menu__sub">
                  <li class="primary-menu__sub-list">
                    <a
                      href="gallery.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      Gallery
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="ticket.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      Buy Ticket
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="faq.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      FAQ
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="policy.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      Privacy & Policy
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="login"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      Sign in
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="signup"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      Sign Up
                    </a>
                  </li>
                  <li class="primary-menu__sub-list">
                    <a
                      href="error.html"
                      class="t-link primary-menu__sub-link text-capitalize"
                    >
                      404 
                    </a>
                  </li>
                </ul>
              </li>
              <li class="primary-menu__list d-none d-lg-block">
                <a
                  href="#"
                  class="primary-menu__link t-link search--toggler text-center"
                >
                  <i class="las la-search"></i>
                </a>
              </li>
            </ul>
            <!-- Primary Menu End -->

            <!-- User Login  -->
            <div class="mx-3 ms-lg-auto me-lg-0">
              <ul class="list primary-menu primary-menu--alt">
                <li class="primary-menu__list text-center">
                  <a href="signup" class="btn btn--md btn--base w-100"> Sign Up </a>
                </li>
              </ul>
            </div>
            <!-- User Login End -->
          </nav>
          <!-- Navigation End -->
        </div>
      </div>
    </div>
  </div>
</header>