<div class="subscribe-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="subscribe-section__content">
            <div class="row g-4 align-items-center">
              <div class="col-md-6">
                <div class="text-center text-md-start d-grid gap-2">
                  <!-- Logo  -->
                  <a href="index-2.html" class="logo mx-auto ms-md-0">
                    <img
                      src="/images/logo-alt.png"
                      alt="viserhyip"
                      class="img-fluid logo__is"
                    />
                  </a>
                  <!-- Logo End -->
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-center text-md-end">
                  <h5 class="mt-0 text--white">Subscribe Our Newsletters</h5>
                  <div class="newsletter mx-auto ms-md-auto me-md-0">
                    <div class="newsletter__container rounded-pill">
                      <input
                        type="text"
                        class="form-control form--control newsletter__input flex-grow-1 rounded-pill"
                        placeholder="Subscribe now.."
                      />
                      <button class="btn xxl-text lh-1 text--white rounded-pill sm-text">
                          <i class="far fa-paper-plane"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>