<!DOCTYPE html>
<html>
  <head>
    <link href="/css/lib/quill.css" rel="stylesheet" />
  </head>
  <body>
    <div id="editor"></div>

    <input
      type="file"
      id="imageInput"
      multiple
      accept="image/*"
      onchange="handleImageUpload()"
    />
    <div id="imagePreview"></div>

    <button onclick="handleSubmit(event)">Submit</button>
    <script src="/js/lib/quill.js"></script>
    <script>
      var quill = new Quill("#editor", {
        theme: "snow", // or 'bubble' for a bubble theme
      });
      var initialContent = "<p>Hello, Quill!</p>";
      quill.clipboard.dangerouslyPasteHTML(initialContent);

      function handleSubmit(event) {
        event.preventDefault();
        var editorHtml = quill.root.innerHTML;
        console.log(editorHtml);
      }
      function handleImageUpload() {
        const imageInput = document.getElementById("imageInput");
        const formData = new FormData();
        for (let i = 0; i < imageInput.files.length; i++) {
          formData.append("images", imageInput.files[i]);
        }
        fetch("/upload-images", {
          method: "POST",
          body: formData,
        })
          .then((response) => {
            if (response.ok) {
              console.log("Images uploaded successfully.");
            } else {
              console.error("Error uploading images.");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
