<%- include('components/Layout/Header.ejs'); %>
<!-- Hero-->
<div class="hero">
  <div class="hero-slider">
    <div
      class="hero-slider__item"
      style="background-image: url(/images/slider-1.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hero-slider__content justify-content-center">
              <div class="row justify-content-center justify-content-lg-start">
                <div class="col-md-9 col-lg-6 text-center text-lg-start">
                  <h1
                    class="hero-slider__title text-capitalize text--white mb-4"
                  >
                    Gift a year of wonderful family days out
                  </h1>
                  <a href="gallery.html" class="btn btn--xl btn--base sm-text">
                    DISCOVER MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="hero-slider__item"
      style="background-image: url(/images/slider-2.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hero-slider__content justify-content-center">
              <div class="row justify-content-center justify-content-lg-start">
                <div class="col-md-9 col-lg-6 text-center text-lg-start">
                  <h1
                    class="hero-slider__title text-capitalize text--white mb-4"
                  >
                    Gift a year of wonderful family days out
                  </h1>
                  <a href="gallery.html" class="btn btn--xl btn--base sm-text">
                    DISCOVER MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="hero-slider__item"
      style="background-image: url(/images/slider-3.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hero-slider__content justify-content-center">
              <div class="row justify-content-center justify-content-lg-start">
                <div class="col-md-9 col-lg-6 text-center text-lg-start">
                  <h1
                    class="hero-slider__title text-capitalize text--white mb-4"
                  >
                    Gift a year of wonderful family days out
                  </h1>
                  <a href="gallery.html" class="btn btn--xl btn--base sm-text">
                    DISCOVER MORE
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-nav-container">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="hero-nav">
            <div class="hero-nav__item">
              <img loading="lazy"
                src="/images/slider-1.jpg"
                alt="image"
                class="hero-nav__img"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero End-->

<div class="animal-list">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="animal-list__slider">
          <div class="animal-list__slider-item">
            <div class="animal-list__content">
              <img loading="lazy"
                src="/images/animal-1.png"
                alt="image"
                class="animal-list__slider-img"
              />
              <h6 class="animal-list__name text-center">African Lion</h6>
            </div>
          </div>
          <div class="animal-list__slider-item">
            <div class="animal-list__content">
              <img loading="lazy"
                src="/images/animal-2.png"
                alt="image"
                class="animal-list__slider-img"
              />
              <h6 class="animal-list__name text-center">Giraffe</h6>
            </div>
          </div>
          <div class="animal-list__slider-item">
            <div class="animal-list__content">
              <img loading="lazy"
                src="/images/animal-3.png"
                alt="image"
                class="animal-list__slider-img"
              />
              <h6 class="animal-list__name text-center">Black howler</h6>
            </div>
          </div>
          <div class="animal-list__slider-item">
            <div class="animal-list__content">
              <img loading="lazy"
                src="/images/animal-4.png"
                alt="image"
                class="animal-list__slider-img"
              />
              <h6 class="animal-list__name text-center">Elephant</h6>
            </div>
          </div>
          <div class="animal-list__slider-item">
            <div class="animal-list__content">
              <img loading="lazy"
                src="/images/animal-5.png"
                alt="image"
                class="animal-list__slider-img"
              />
              <h6 class="animal-list__name text-center">Hyenas</h6>
            </div>
          </div>
          <div class="animal-list__slider-item">
            <div class="animal-list__content">
              <img loading="lazy"
                src="/images/animal-6.png"
                alt="image"
                class="animal-list__slider-img"
              />
              <h6 class="animal-list__name text-center">Reindeer</h6>
            </div>
          </div>
          <div class="animal-list__slider-item">
            <div class="animal-list__content">
              <img loading="lazy"
                src="/images/animal-7.png"
                alt="image"
                class="animal-list__slider-img"
              />
              <h6 class="animal-list__name text-center">Crocodile</h6>
            </div>
          </div>
          <div class="animal-list__slider-item">
            <div class="animal-list__content">
              <img loading="lazy"
                src="/images/animal-8.png"
                alt="image"
                class="animal-list__slider-img"
              />
              <h6 class="animal-list__name text-center">Macaw</h6>
            </div>
          </div>
          <div class="animal-list__slider-item">
            <div class="animal-list__content">
              <img loading="lazy"
                src="/images/animal-1.png"
                alt="image"
                class="animal-list__slider-img"
              />
              <h6 class="animal-list__name text-center">African Lion</h6>
            </div>
          </div>
          <div class="animal-list__slider-item">
            <div class="animal-list__content">
              <img loading="lazy"
                src="/images/animal-2.png"
                alt="image"
                class="animal-list__slider-img"
              />
              <h6 class="animal-list__name text-center">African Lion</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Welcome Section  -->
<div class="section welcome-section">
  <div class="container">
    <div class="row g-4 justify-content-center">
      <div class="col-md-10 col-xl-6">
        <div class="text-center text-xl-start">
          <span class="section__particles">
            <span class="section__subtitle"> Welcome to Viserlife </span>
          </span>
          <h2 class="section__title">
            Why You Should Visit <span>Viserlife</span>
          </h2>
          <p class="section__para mx-auto ms-xl-0 mb-5">
            Viserlife Zoo is now open daily from 9:30 am–5 pm. Advance timed
            reservations are required for all guests. We look forward to seeing
            you!
          </p>
        </div>
        <div class="row g-4">
          <div class="col-md-6">
            <div class="welcome-card">
              <div class="welcome-card__icon mx-auto ms-xl-0">
                <img loading="lazy"
                  src="/images/wc-icon-1.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
              <div class="welcome-card__content">
                <h5 class="mt-xl-0 text-center text-xl-start">
                  Free car Parking
                </h5>
                <p class="mb-0 text-center text-xl-start">
                  <span class="fw-md">Cost:</span> $17 (free for members)
                </p>
                <p class="mb-0 text-center text-xl-start">
                  Parking is available at the Zoo Garage at 35th & Girard Ave,
                  Tiger Parking Lot
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="welcome-card">
              <div class="welcome-card__icon mx-auto ms-xl-0">
                <img loading="lazy"
                  src="/images/wc-icon-2.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
              <div class="welcome-card__content">
                <h5 class="mt-xl-0 text-center text-xl-start">
                  Supper Eviorment
                </h5>
                <p class="mb-0 text-center text-xl-start">
                  Viserlife Zoo is located at the corner of 34th Street and
                  Girard Avenue in historic Fairmount Park.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="welcome-card">
              <div class="welcome-card__icon mx-auto ms-xl-0">
                <img loading="lazy"
                  src="/images/wc-icon-3.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
              <div class="welcome-card__content">
                <h5 class="mt-xl-0 text-center text-xl-start">
                  World best Animals
                </h5>
                <p class="mb-0 text-center text-xl-start">
                  Connect with our animals, then connect with a bigger mission.
                  Learn more about how we work to enlighten people.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="welcome-card">
              <div class="welcome-card__icon mx-auto ms-xl-0">
                <img loading="lazy"
                  src="/images/wc-icon-4.png"
                  alt="image"
                  class="img-fluid"
                />
              </div>
              <div class="welcome-card__content">
                <h5 class="mt-xl-0 text-center text-xl-start">
                  Guide & Security
                </h5>
                <p class="mb-0 text-center text-xl-start">
                  Safety for all is our highest priority, so for the benefit of
                  the animals, guests, and staff, please follow the Zoo’s safety
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-xl-6 d-none d-xl-block">
        <div class="text-center">
          <img loading="lazy"
            src="/images/lion-image.png"
            alt="images"
            class="img-fluid mx-auto"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Welcome Section End -->

<!-- Information Section  -->
<div class="info-section__container">
  <div class="section info-section">
    <div class="container">
      <div class="row gy-5 g-md-4">
        <div class="col-md-6 col-lg-4">
          <h4 class="info-section__title mt-0 text--white">Safety Info</h4>
          <ul class="list list--base">
            <li>
              <span class="d-block text--white">
                Smoking is prohibited, including e-cigarettes
              </span>
            </li>
            <li>
              <span class="d-block text--white">
                Do not feed the animals, throw objects
              </span>
            </li>
            <li>
              <span class="d-block text--white">
                Do not tap or bang on exhibit glass
              </span>
            </li>
            <li>
              <span class="d-block text--white">
                Respect walls and fences throughout the zoo
              </span>
            </li>
            <li>
              <span class="d-block text--white">
                Respect Zoo Rules & Gudie Line
              </span>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-4">
          <h4 class="info-section__title mt-0 text--white">Visiting Time</h4>
          <ul class="list list--underline">
            <li>
              <div class="list list--row justify-content-between">
                <div
                  class="list list--row align-items-center"
                  style="--gap: 0.5rem"
                >
                  <span class="text--base">
                    <i class="far fa-clock"></i>
                  </span>
                  <span class="d-inline-block text--white sm-text">
                    10.00 AM
                  </span>
                </div>
                <span class="d-inline-block text--white sm-text">
                  Zoo Opens
                </span>
              </div>
            </li>
            <li>
              <div class="list list--row justify-content-between">
                <div
                  class="list list--row align-items-center"
                  style="--gap: 0.5rem"
                >
                  <span class="text--base">
                    <i class="far fa-clock"></i>
                  </span>
                  <span class="d-inline-block text--white sm-text">
                    03.45 PM
                  </span>
                </div>
                <span class="d-inline-block text--white sm-text">
                  Sea Lion Feeding
                </span>
              </div>
            </li>
            <li>
              <div class="list list--row justify-content-between">
                <div
                  class="list list--row align-items-center"
                  style="--gap: 0.5rem"
                >
                  <span class="text--base">
                    <i class="far fa-clock"></i>
                  </span>
                  <span class="d-inline-block text--white sm-text">
                    04.20 PM
                  </span>
                </div>
                <span class="d-inline-block text--white sm-text">
                  Exhibits Close
                </span>
              </div>
            </li>
            <li>
              <div class="list list--row justify-content-between">
                <div
                  class="list list--row align-items-center"
                  style="--gap: 0.5rem"
                >
                  <span class="text--base">
                    <i class="far fa-clock"></i>
                  </span>
                  <span class="d-inline-block text--white sm-text">
                    05.00 PM
                  </span>
                </div>
                <span class="d-inline-block text--white sm-text">
                  Zoo Close
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-4">
          <h4 class="info-section__title mt-0 text--white">Contact info</h4>
          <ul class="list">
            <li>
              <div class="list list--row">
                <span class="info-section__icon">
                  <i class="fas fa-map-marker-alt"></i>
                </span>
                <p class="mb-0 text--white t-short-para">
                  New York 10460 , Old city town martina road
                </p>
              </div>
            </li>
            <li>
              <div class="list list--row">
                <span class="info-section__icon">
                  <i class="far fa-envelope"></i>
                </span>
                <ul class="list" style="--gap: 0.5rem">
                  <li>
                    <p class="mb-0 text--white t-short-para">
                      Viserlifesupport24/7.com
                    </p>
                  </li>
                  <li>
                    <p class="mb-0 text--white t-short-para">
                      <a
                        href="https://template.viserlab.com/cdn-cgi/l/email-protection"
                        class="__cf_email__"
                        data-cfemail="0d6e6263796c6e7964636b624d6a606c6461236e6260"
                        >[email&#160;protected]</a
                      >
                    </p>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="list list--row">
                <span class="info-section__icon">
                  <i class="fas fa-phone-alt"></i>
                </span>
                <ul class="list" style="--gap: 0.5rem">
                  <li>
                    <p class="mb-0 text--white t-short-para">
                      +123 - 456 - 789000
                    </p>
                  </li>
                  <li>
                    <p class="mb-0 text--white t-short-para">
                      +123 - 456 - 789000
                    </p>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Information Section End -->

<!-- Fact Section  -->
<div class="fact-section-container">
  <div class="section fact-section">
    <div class="container">
      <div class="row g-4">
        <div class="col-md-3 col-xl-3">
          <div class="counter-card">
            <div class="counter-card__head justify-content-center text-center">
              <h1 class="m-0">
                <span
                  class="counter-card__title odometer"
                  data-odometer-final="156"
                  >0</span
                >
              </h1>
            </div>
            <div class="counter-card__body">
              <h5 class="m-0 text-center text--white">Total type of animal</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xl-3">
          <div class="counter-card">
            <div class="counter-card__head justify-content-center text-center">
              <h1 class="d-flex align-items-center gap-2 m-0">
                <span
                  class="counter-card__title odometer"
                  data-odometer-final="2"
                >
                  0
                </span>
                <span class="counter-card__title">m</span>
              </h1>
            </div>
            <div class="counter-card__body">
              <h5 class="m-0 text-center text--white">Daily Visitors</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xl-3">
          <div class="counter-card">
            <div class="counter-card__head justify-content-center text-center">
              <h1 class="d-flex align-items-center gap-2 m-0">
                <span
                  class="counter-card__title odometer"
                  data-odometer-final="1.5"
                >
                  0
                </span>
                <span class="counter-card__title">k</span>
              </h1>
            </div>
            <div class="counter-card__body">
              <h5 class="m-0 text-center text--white">Team Member</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xl-3">
          <div class="counter-card">
            <div class="counter-card__head justify-content-center text-center">
              <h1 class="d-flex align-items-center gap-2 m-0">
                <span
                  class="counter-card__title odometer"
                  data-odometer-final="35"
                >
                  0
                </span>
                <span class="counter-card__title">k</span>
              </h1>
            </div>
            <div class="counter-card__body">
              <h5 class="m-0 text-center text--white">Save Wild Life</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fact Section End -->

<!-- Membership Plan  -->
<div class="section membership-section">
  <div class="section__head">
    <div class="container">
      <div class="row g-4 justify-content-center">
        <div class="col-md-10 col-xl-6">
          <div class="text-center">
            <span class="section__particles">
              <span class="section__subtitle section__subtitle-dash">
                Membership Plan
              </span>
            </span>
            <h2 class="section__title">
              You can be a proud member of <span>Viserlife</span>
            </h2>
            <p class="section__para mx-auto mb-0">
              More than admission, events and parking. Each membership directly
              supports the care of Viserlife Zoo animals and conservation
              efforts around the world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-4 g-xxl-5">
      <div class="col-lg-6">
        <div class="membership-card">
          <div class="membership-card__img">
            <img loading="lazy"
              src="/images/member-img-1.png"
              alt="image"
              class="membership-card__img-is"
            />
          </div>
          <div class="membership-card__content">
            <h4 class="membership-card__price">$275</h4>
            <h5 class="membership-card__title">Family Deluxe</h5>
            <p class="heading-clr sm-text fw-md text-uppercase">
              ALL PREFERRED AND STANDARD LEVEL BENEFITS PLUS
            </p>
            <ul class="list list--base">
              <li>Enjoy the Zoo with 2 adults</li>
              <li>4 children and 2 guests each visit</li>
              <li>10 pack of tickets for Carousel or Wings</li>
            </ul>
            <div class="mt-4">
              <a href="signup" class="t-link btn btn--md btn--gallery">
                Join Now
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="membership-card">
          <div class="membership-card__img">
            <img loading="lazy"
              src="/images/member-img-2.png"
              alt="image"
              class="membership-card__img-is"
            />
          </div>
          <div class="membership-card__content">
            <h4 class="membership-card__price">$200</h4>
            <h5 class="membership-card__title">Family Plus</h5>
            <p class="heading-clr sm-text fw-md text-uppercase">
              ALL STANDARD LEVEL BENEFITS PLUS FAMILY ORIENTED
            </p>
            <ul class="list list--base">
              <li>2 adults and up to 4 children</li>
              <li>Plus 2 one-time-use tickets</li>
              <li>Free Animal museum Exhibition plus 5 rides</li>
            </ul>
            <div class="mt-4">
              <a href="signup" class="t-link btn btn--md btn--gallery">
                Join Now
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="membership-card">
          <div class="membership-card__img">
            <img loading="lazy"
              src="/images/member-img-3.png"
              alt="image"
              class="membership-card__img-is"
            />
          </div>
          <div class="membership-card__content">
            <h4 class="membership-card__price">$200.89</h4>
            <h5 class="membership-card__title">Standard</h5>
            <p class="heading-clr sm-text fw-md text-uppercase">
              Our most convenient option!
            </p>
            <ul class="list list--base">
              <li>Create life-long family memories for 2 adults</li>
              <li>Allow 2 childrens</li>
              <li>Free Animal museum Exhibition</li>
            </ul>
            <div class="mt-4">
              <a href="signup" class="t-link btn btn--md btn--gallery">
                Join Now
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="membership-card">
          <div class="membership-card__img">
            <img loading="lazy"
              src="/images/member-img-4.png"
              alt="image"
              class="membership-card__img-is"
            />
          </div>
          <div class="membership-card__content">
            <h4 class="membership-card__price">$380.99</h4>
            <h5 class="membership-card__title">VIP Pass</h5>
            <p class="heading-clr sm-text fw-md text-uppercase">
              ALL BENEFITS Includes PLUS More
            </p>
            <ul class="list list--base">
              <li>20% Dsicount All Event</li>
              <li>Allow 2 adult person</li>
              <li>PRIORITY ADMISSION with no reservations required</li>
            </ul>
            <div class="mt-4">
              <a href="signup" class="t-link btn btn--md btn--gallery">
                Join Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Membership Plan End -->

<!-- Feedback Section  -->
<div class="feedback-section">
  <div class="section feedback-section__wrapper">
    <div class="section__head">
      <div class="container">
        <div class="row g-4 justify-content-center">
          <div class="col-md-10 col-xl-6">
            <div class="text-center">
              <span class="section__particles">
                <span
                  class="section__subtitle section__subtitle-dash text--white"
                >
                  Feedback
                </span>
              </span>
              <h2 class="section__title text--white">
                What our visitor says about <span>Viserlife</span>
              </h2>
              <p class="section__para mx-auto text--white mb-0">
                Your gift to Viserlife Zoo makes programs like these possible
                and supports animals here and around the world.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="feedback-slider">
            <div class="feedback-slider__item">
              <div class="feedback-card">
                <div class="feedback-card__head">
                  <div class="user user--xl">
                    <img loading="lazy"
                      src="/images/people-3.jpg"
                      alt="image"
                      class="user__img"
                    />
                  </div>
                  <div class="flex-grow-1">
                    <h5 class="mt-0 mb-1">Robarts Jane</h5>
                    <span class="d-block sm-text"> Visitor </span>
                  </div>
                </div>
                <div class="feedback-card__body">
                  <p class="feedback-card__text mb-0">
                    By leading and supporting critical conservation projects in
                    the field, encouraging and leveraging the power of thousands
                    of visitors, and serving as an “ark” for endangered species,
                    Viserlife Zoo has played an integral role in a variety of
                    conservation efforts across numerous species.
                  </p>
                </div>
                <div class="feedback-card__footer">
                  <div class="feedback-card__quote-icon">
                    <i class="fas fa-quote-right"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="feedback-slider__item">
              <div class="feedback-card">
                <div class="feedback-card__head">
                  <div class="user user--xl">
                    <img loading="lazy"
                      src="/images/people-4.jpg"
                      alt="image"
                      class="user__img"
                    />
                  </div>
                  <div class="flex-grow-1">
                    <h5 class="mt-0 mb-1">Peter parker</h5>
                    <span class="d-block sm-text"> Visitor </span>
                  </div>
                </div>
                <div class="feedback-card__body">
                  <p class="feedback-card__text mb-0">
                    In addition to housing endangered animals—some extinct in
                    the wild—and supporting conservation efforts around the
                    world, Viserlife Zoo helps create empathy and understanding
                    for wildlife through programs like the UNLESS Contest, which
                    has inspired tens of thousands of students over the past
                    decade to learn about and create advocacy campaigns to make
                    a lasting impact on an endangered species of their choosing.
                  </p>
                </div>
                <div class="feedback-card__footer">
                  <div class="feedback-card__quote-icon">
                    <i class="fas fa-quote-right"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="feedback-slider__item">
              <div class="feedback-card">
                <div class="feedback-card__head">
                  <div class="user user--xl">
                    <img loading="lazy"
                      src="/images/people-5.jpg"
                      alt="image"
                      class="user__img"
                    />
                  </div>
                  <div class="flex-grow-1">
                    <h5 class="mt-0 mb-1">Tony Stark</h5>
                    <span class="d-block sm-text"> Visitor </span>
                  </div>
                </div>
                <div class="feedback-card__body">
                  <p class="feedback-card__text mb-0">
                    To date, the UNLESS Contest has resulted in hundreds of
                    trees planted in Brazil, thousands of signatures in support
                    of a wildlife bridge, and dollars raised to support our
                    partners in the field.
                  </p>
                </div>
                <div class="feedback-card__footer">
                  <div class="feedback-card__quote-icon">
                    <i class="fas fa-quote-right"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="feedback-slider__item">
              <div class="feedback-card">
                <div class="feedback-card__head">
                  <div class="user user--xl">
                    <img loading="lazy"
                      src="/images/people-6.jpg"
                      alt="image"
                      class="user__img"
                    />
                  </div>
                  <div class="flex-grow-1">
                    <h5 class="mt-0 mb-1">Steven Roger</h5>
                    <span class="d-block sm-text"> Visitor </span>
                  </div>
                </div>
                <div class="feedback-card__body">
                  <p class="feedback-card__text mb-0">
                    Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                    rhoncus. Maecenas tempus tellus eget condimentum rhoncus sem
                  </p>
                </div>
                <div class="feedback-card__footer">
                  <div class="feedback-card__quote-icon">
                    <i class="fas fa-quote-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feedback Section End -->

<!-- Event Section  -->
<div class="section">
  <div class="section__head">
    <div class="container">
      <div class="row g-4 justify-content-center">
        <div class="col-md-8 col-xl-6">
          <div class="text-center">
            <span class="section__particles">
              <span class="section__subtitle section__subtitle-dash"
                >Latest Events</span
              >
            </span>
            <h2 class="section__title">Our Upcoming <span>Event</span></h2>
            <p class="section__para mx-auto mb-0">
              Urban animals are party animals. Plan your next unforgettable
              event with the Zoo as your backdrop.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-6">
        <div class="event-card">
          <div class="event-card__img">
            <img loading="lazy"
              src="/images/event-img-1.png"
              alt="image"
              class="event-card__img-is"
            />
            <div class="event-card__date">
              <div class="event-card__date-content">
                <h5 class="mt-0 mb-1 text-center text--white">10</h5>
                <h6 class="m-0 text-center text--white">MAY</h6>
              </div>
            </div>
          </div>
          <div class="event-card__content">
            <h5 class="event-card__title mb-2">
              <a
                href="event-details.html"
                class="t-link event-card__title-link"
              >
                What to See at the North Carolina Zoo
              </a>
            </h5>
            <ul class="list list--row flex-wrap" style="--gap: 0.5rem">
              <li>
                <a href="#" class="t-link t-link--base text-clr sm-text fw-md">
                  28 MAY 2021
                </a>
              </li>
              <li>
                <a href="#" class="t-link t-link--base text-clr sm-text fw-md">
                  Viserlife PARK
                </a>
              </li>
            </ul>
            <p class="mt-3 mb-0">
              Visit your favorite exhibits an hour before gates open to the
              general public during these exclusive members-only morning
              strolls.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="event-card">
          <div class="event-card__img">
            <img loading="lazy"
              src="/images/event-img-2.png"
              alt="image"
              class="event-card__img-is"
            />
            <div class="event-card__date">
              <div class="event-card__date-content">
                <h5 class="mt-0 mb-1 text-center text--white">10</h5>
                <h6 class="m-0 text-center text--white">MAY</h6>
              </div>
            </div>
          </div>
          <div class="event-card__content">
            <h5 class="event-card__title mb-2">
              <a
                href="event-details.html"
                class="t-link event-card__title-link"
              >
                The History of the North Carolina Zoo
              </a>
            </h5>
            <ul class="list list--row flex-wrap" style="--gap: 0.5rem">
              <li>
                <a href="#" class="t-link t-link--base text-clr sm-text fw-md">
                  28 MAY 2021
                </a>
              </li>
              <li>
                <a href="#" class="t-link t-link--base text-clr sm-text fw-md">
                  Viserlife PARK
                </a>
              </li>
            </ul>
            <p class="mt-3 mb-0">
              Picnic with the peacocks, lunch with the lemurs or barbeque with
              the bears – the possibilities are endless when you book a daytime
              event at the Zoo!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="event-card">
          <div class="event-card__img">
            <img loading="lazy"
              src="/images/event-img-3.png"
              alt="image"
              class="event-card__img-is"
            />
            <div class="event-card__date">
              <div class="event-card__date-content">
                <h5 class="mt-0 mb-1 text-center text--white">10</h5>
                <h6 class="m-0 text-center text--white">MAY</h6>
              </div>
            </div>
          </div>
          <div class="event-card__content">
            <h5 class="event-card__title mb-2">
              <a
                href="event-details.html"
                class="t-link event-card__title-link"
              >
                Keep an Eye Out for Zookeepers
              </a>
            </h5>
            <ul class="list list--row flex-wrap" style="--gap: 0.5rem">
              <li>
                <a href="#" class="t-link t-link--base text-clr sm-text fw-md">
                  28 MAY 2021
                </a>
              </li>
              <li>
                <a href="#" class="t-link t-link--base text-clr sm-text fw-md">
                  Viserlife PARK
                </a>
              </li>
            </ul>
            <p class="mt-3 mb-0">
              Invite your guests to enjoy a day of adventure and wildlife
              discovery, followed by a private event space to enjoy a seasonal
              meal. Each event is tailored to meet your needs with custom
              options for entertainment and presentations.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="event-card">
          <div class="event-card__img">
            <img loading="lazy"
              src="/images/event-img-4.png"
              alt="image"
              class="event-card__img-is"
            />
            <div class="event-card__date">
              <div class="event-card__date-content">
                <h5 class="mt-0 mb-1 text-center text--white">10</h5>
                <h6 class="m-0 text-center text--white">MAY</h6>
              </div>
            </div>
          </div>
          <div class="event-card__content">
            <h5 class="event-card__title mb-2">
              <a
                href="event-details.html"
                class="t-link event-card__title-link"
              >
                Don’t Miss the Wildlife Bridge in viserlife
              </a>
            </h5>
            <ul class="list list--row flex-wrap" style="--gap: 0.5rem">
              <li>
                <a href="#" class="t-link t-link--base text-clr sm-text fw-md">
                  28 MAY 2021
                </a>
              </li>
              <li>
                <a href="#" class="t-link t-link--base text-clr sm-text fw-md">
                  Viserlife PARK
                </a>
              </li>
            </ul>
            <p class="mt-3 mb-0">
              An Event Manager will connect with you with the Zoo's culinary
              partner, Lancer Catering, to review all food and beverage options.
              Food and beverage minimums apply
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Event Section End -->

<!-- Blog Post  -->
<div class="section--sm">
  <div class="section__head">
    <div class="container">
      <div class="row g-4 justify-content-center">
        <div class="col-md-8 col-xl-6">
          <div class="text-center">
            <span class="section__particles">
              <span class="section__subtitle section__subtitle-dash"
                >Blog Post</span
              >
            </span>
            <h2 class="section__title">Latest <span>News & Tips</span></h2>
            <p class="section__para mx-auto mb-0">
              All the latest news and updates from our zoo, get connected with
              us and be our ultimate member
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row g-4 justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="blog-post">
          <img loading="lazy"
            src="/images/blog-post-1.png"
            alt="image"
            class="blog-post__img"
          />
          <div class="blog-post__overlay">
            <div class="blog-post__date">
              <div class="blog-post__date-content">
                <h5 class="mt-0 mb-1 text-center text--white">10</h5>
                <h6 class="m-0 text-center text--white">MAY</h6>
              </div>
            </div>
            <div class="blog-post__content">
              <h4 class="blog-post__title">
                <a
                  href="blog-details.html"
                  class="t-link blog-post__title-link"
                >
                  The chameleon is a species of chameleon found
                </a>
              </h4>
              <ul class="list list--row breadcrumbs" style="--gap: 2rem">
                <li class="breadcrumbs__item">
                  <a href="#" class="t-link text--white t-link--base">
                    Robart turs
                  </a>
                </li>
                <li class="breadcrumbs__item">
                  <a href="#" class="t-link text--white t-link--base">
                    Chameleon
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="blog-post">
          <img loading="lazy"
            src="/images/blog-post-2.png"
            alt="image"
            class="blog-post__img"
          />
          <div class="blog-post__overlay">
            <div class="blog-post__date">
              <div class="blog-post__date-content">
                <h5 class="mt-0 mb-1 text-center text--white">10</h5>
                <h6 class="m-0 text-center text--white">MAY</h6>
              </div>
            </div>
            <div class="blog-post__content">
              <h4 class="blog-post__title">
                <a
                  href="blog-details.html"
                  class="t-link blog-post__title-link"
                >
                  Explore the Animal Enclosures
                </a>
              </h4>
              <ul class="list list--row breadcrumbs" style="--gap: 2rem">
                <li class="breadcrumbs__item">
                  <a href="#" class="t-link text--white t-link--base">
                    Robart turs
                  </a>
                </li>
                <li class="breadcrumbs__item">
                  <a href="#" class="t-link text--white t-link--base">
                    Chameleon
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="blog-post">
          <img loading="lazy"
            src="/images/blog-post-3.png"
            alt="image"
            class="blog-post__img"
          />
          <div class="blog-post__overlay">
            <div class="blog-post__date">
              <div class="blog-post__date-content">
                <h5 class="mt-0 mb-1 text-center text--white">10</h5>
                <h6 class="m-0 text-center text--white">MAY</h6>
              </div>
            </div>
            <div class="blog-post__content">
              <h4 class="blog-post__title">
                <a
                  href="blog-details.html"
                  class="t-link blog-post__title-link"
                >
                  Do a Safari or Flower Arrangement
                </a>
              </h4>
              <ul class="list list--row breadcrumbs" style="--gap: 2rem">
                <li class="breadcrumbs__item">
                  <a href="#" class="t-link text--white t-link--base">
                    Robart turs
                  </a>
                </li>
                <li class="breadcrumbs__item">
                  <a href="#" class="t-link text--white t-link--base">
                    Chameleon
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Blog Post End -->

<%- include('components/Layout/NewsLetter.ejs'); %>
<%- include('components/Layout/Footer.ejs'); %>
