<div class="section--sm section--bottom">
    <div class="container">
      <div class="row g-4 g-sm-0 justify-content-center">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="client-card">
            <img src="/images/client-1.png" alt="image" class="client-card__img">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="client-card">
            <img src="/images/client-2.png" alt="image" class="client-card__img">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="client-card">
            <img src="/images/client-3.png" alt="image" class="client-card__img">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="client-card">
            <img src="/images/client-4.png" alt="image" class="client-card__img">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="client-card">
            <img src="/images/client-5.png" alt="image" class="client-card__img">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="client-card">
            <img src="/images/client-6.png" alt="image" class="client-card__img">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="client-card">
            <img src="/images/client-7.png" alt="image" class="client-card__img">
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="client-card">
            <img src="/images/client-8.png" alt="image" class="client-card__img">
          </div>
        </div>
      </div>
    </div>
  </div>