<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ZMS</title>
  <!-- favicon -->
  <link rel="icon" href="/images/favicon.png" sizes="16x16" type="image/png" />
  <!-- bootstrap 5  -->
  <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
  <!-- fontawesome 5  -->
  <link rel="stylesheet" href="/css/lib/font-awesome.css" />
  <!-- lineawesome font -->
  <link rel="stylesheet" href="/css/lib/line-awesome.css" />
  <!-- slick slider css -->
  <link rel="stylesheet" href="/css/lib/slick.css" />
  <!-- Magnific Popup  -->
  <!-- <link rel="stylesheet" href="/css/lib/magnific-popup.css" /> -->
  <!-- Odometer -->
  <!-- <link rel="stylesheet" href="/css/lib/odometer-theme-default.css"> -->
  <!-- main css -->
  <link rel="stylesheet" href="/css/main.css">

  <link rel="stylesheet" href="/css/lib/quill.css">

</head>

<body>

  <!-- preloader start -->
  <div class="preloader">
    <div class="preloader__loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <!-- preloader end -->
  <div class="lds-ring spinner">
    <div></div>
    <div></div>
    <div></div>
</div>
  <!-- Back To Top -->
  <div class="back-to-top">
    <span class="back-top">
      <i class="las la-angle-double-up"></i>
    </span>
  </div>
  <!-- Back To Top End -->

  <!-- search Popup -->
  <div class="body-overlay" id="body-overlay"></div>
  <div class="search-popup" id="search-popup">
    <form action="#" class="search-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search....." />
      </div>
      <button type="submit" class="submit-btn xl-text">
        <i class="las la-search"></i>
      </button>
    </form>
  </div>
  <!--search Popup -->
  <!-- Header -->
  <header class="header-fixed header--primary">
    <div class="container">
      <div class="row g-0 align-items-center">
        <div class="col-6 col-lg-2">
          <!-- Logo  -->
          <a href="/" class="logo">
            <img loading="lazy" src="/images/logo.png" alt="viserhyip" class="img-fluid logo__is" />
          </a>
          <!-- Logo End -->
        </div>
        <div class="col-6 col-lg-10">
          <div class="nav-container">
            <!-- Navigation Toggler  -->
            <div class="d-flex justify-content-end align-items-center d-lg-none">
              <a href="#" class="primary-menu__link t-link search--toggler text-center text--white border-bottom-0">
                <i class="las la-search"></i>
              </a>
              <button type="button" class="btn btn--sqr btn--base nav--toggle text--white">
                <i class="las la-bars"></i>
              </button>
            </div>
            <!-- Navigation Toggler End -->

            <!-- Navigation  -->
            <nav class="navs">
              <!-- Primary Menu  -->
              <ul class="list primary-menu">
                <li class="primary-menu__list">
                  <a href="/" class="primary-menu__link text-capitalize">
                    home
                  </a>
                </li>

                <li class="primary-menu__list has-sub">
                  <a class="primary-menu__link text-capitalize">Service</a>
                  <ul class="primary-menu__sub">
                    <li class="primary-menu__sub-list">
                      <a href="/animals-list?page=1" class="t-link primary-menu__sub-link text-capitalize">
                        Animals
                      </a>
                    </li>
                    <li class="primary-menu__sub-list">
                      <a href="/tickets-list?page=1" class="t-link primary-menu__sub-link text-capitalize">
                        Tickets
                      </a>
                    </li>
                    <li class="primary-menu__sub-list">
                      <a href="/doctor-list?page=1" class="t-link primary-menu__sub-link text-capitalize">
                        Doctors
                      </a>
                    </li>
                  </ul>
                </li>
               
                <li class="primary-menu__list">
                  <a href="/contact" class="primary-menu__link text-capitalize">Contact</a>
                </li>
                <% if(user?.role === 'admin'){ %>
                  <li class="primary-menu__list has-sub">
                    <a href="#" class="primary-menu__link text-capitalize">Admin</a>
                    <ul class="primary-menu__sub">
                      <li class="primary-menu__sub-list">
                        <a href="/animals?page=1" class="t-link primary-menu__sub-link text-capitalize">
                          Animals
                        </a>
                      </li>
                      <li class="primary-menu__sub-list">
                        <a href="/tickets?page=1" class="t-link primary-menu__sub-link text-capitalize">
                          Tickets
                        </a>
                      </li>
                      <li class="primary-menu__sub-list">
                        <a href="/doctors?page=1" class="t-link primary-menu__sub-link text-capitalize">
                          Doctors
                        </a>
                      </li>
                    </ul>
                  </li>
                  <% } %>
                <li class="primary-menu__list d-none d-lg-block">
                  <a href="#" class="primary-menu__link t-link search--toggler text-center">
                    <i class="las la-search"></i>
                  </a>
                </li>
              </ul>
              <!-- Primary Menu End -->

              <!-- User Login  -->
              <div class="mx-3 ms-lg-auto me-lg-0">
                <ul class="list primary-menu primary-menu--alt">
                  <li class="primary-menu__list text-center">
                    <% if(user){ %>
                      <a href="logout" class="btn btn--md btn--base w-100"> Logout </a>
                      <% }else{%>
                        <!-- add login button here -->
                      <a href="signup" class="btn btn--md btn--base w-fit mb-1"> Sign Up </a>
                      <a href="login" class="btn btn--md btn--base w-fit mb-1" style="width: 97px;"> Login </a>
                        <% } %>
                  </li>
                </ul>
              </div>
              <!-- User Login End -->
            </nav>
            <!-- Navigation End -->
          </div>
        </div>
      </div>
    </div>
  </header>